@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


div {max-width: 1600px}
#content {margin: 0 auto;
font-family: "Fira Sans", arial, sans-serif;
}
nav {
width: 100%;
display: flex;
justify-content: space-around;
background-color: #0b797a;
z-index: 1;
}
nav a
{text-align: center;
color: white;
text-decoration: none;
padding: 35px;
flex: 1;
}
nav a:hover
{background-color: #f5c242;
color: black;
text-decoration: none;
}
header
{background-color: #0b797a;
display: grid;
grid-template-columns: 150px auto;
position: relative;
z-index: 1;
}
body
{background-color: #0b797a;
font-family: Roboto, verdana, sans-serif;
font-size: 22px;
margin: 0;
padding: 0;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  



.icon 
{width: 80px;
padding-top: 35px;}
.logo 
{width: 80px;
}
#logo_link 
{padding-top: 5px;
justify-self: center;
align-self: center;
}
footer
{background-color: #f5c242;
color: black;
padding: 15px 50px;
margin-top: 200px;
display: flex;
justify-content: space-around;
align-items: center;
}
footer a:hover 
{color: white;}
footer p 
{font-size: 1.2em;}
footer p a:hover
{text-decoration: underline;}
footer .social img
{padding-top: 15px;
}