@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


div {max-width: 1600px}
#content {margin: 0 auto;}
nav {
width: 100%;
display: flex;
justify-content: space-around;
background-color: #0b797a;
z-index: 1;
}
nav a
{text-align: center;
color: white;
text-decoration: none;
padding: 35px;
flex: 1;
}
nav a:hover
{background-color: #f5c242;
color: black;
text-decoration: none;}
body
{background-color: #0b797a;
font-family: Roboto, verdana, sans-serif;
font-size: 22px;
margin: 0;
padding: 0;
}
h2
{margin: 0;
}
header
{background-color: #0b797a;
display: grid;
grid-template-columns: 150px auto;
position: relative;
z-index: 1;
}
.icon 
{width: 80px;
padding-top: 35px;}
.logo 
{width: 80px;
}
#logo_link 
{padding-top: 5px;
justify-self: center;
align-self: center;
}