div {max-width: 1600px}
#content {margin: 0 auto;}
nav a
{text-align: center;
color: white;
text-decoration: none;
}
nav a:hover
{color: #f5c242;
text-decoration: none;}
home-title
{color: white;}
h4
{color: white;}

#hero-msg h1, #hero-msg h4
{text-align: center;}
.button-box
{text-align: center;}
main section
{text-align: center;}
#background {height: 725px;}
body
{background-color: #0b797a;}
header
{background-color: #0b797a;}
nav a:hover
{background-color: #0b797a;
color: white;
}
.book, .join
{background-color: #0b797a;
color: white;
}
.book:hover, .join:hover
{background-color: #0b797a;
color: white;
}
#background
{background-color: #0b797a;}
.msg
{background-color: #f5c242;}
.msg h2
{color: #0b797a;}
.msg p
{color: #0b797a;}
footer
{background-color: #0b797a;
color: white;
}
footer a:hover 
{color: white;}
footer p 
{font-size: 1.2em;}
footer p a:hover
{text-decoration: underline;}
.icon 
{width: 80px;}
.logo 
{width: 80px;}
#hero-img 
{width: 100%;}


