
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


div {max-width: 1600px}
#content {margin: 0 auto;}
nav {
display: flex;
justify-content: space-around;
background-color: gray;}
nav a
{text-align: center;
color: white;
text-decoration: none;
padding: 35px;
}
nav a:hover
{background-color: #f5c242;
color: black;
text-decoration: none;}
home-title
{color: white;
font-family: "Fira Sans", arial, sans-serif;
font-size: 2em;
padding: 35px;
margin-top: 10px;
}
h4
{color: white;}
#hero-msg{
grid-column: 2/3;
grid-row: 1/2;
margin-top: 100px;
}

#hero-msg h1
{text-align: center;}
#hero-msg h4{
display: grid;
text-align: center;
color: white;
grid-column: 2/3;
grid-row: 1/2;

}
.button-box
{text-align: center;}
main section
{text-align: center;}
#background {height: 725px;}
main section img
{box-sizing: border-box;

}
body
{background-color: #0b797a;
font-family: Roboto, verdana, sans-serif;
font-size: 22px;
margin: 0;
padding: 0;
}
h2
{margin: 0;
}
header
{background-color: #0b797a;
display: grid;
grid-template-columns: 150px auto;
}
.book, .join
{background-color: #0b797a;
color: white;
font-size: 18px;
padding: 15px 30px;
margin: 50px;
border-radius: 5px;
}
.book:hover 
{background-color: #f5c242;
color: black;}
.join:hover
{background-color: #0b797a;
color: white;
}
#background{
background-color: #f5c242;
grid-column: 1/11;
grid-row: 4/9;
}
.msg
{background-color: #f5c242;
line-height: 1.5em;
padding: 35px;
grid-column: 6/10;
grid-row: 6/7;
box-shadow: 5px 5px 10px gray;
}
.msg h2
{color: #0b797a;}
.msg p
{color: #0b797a;
font-size: 0.8em;
padding-bottom: 15px;
}
footer
{background-color: #0b797a;
color: white;
padding: 15px 50px;
margin-top: 200px;
display: flex;
justify-content: space-around;
align-items: center;
}
footer a:hover 
{color: white;}
footer p 
{font-size: 1.2em;}
footer p a:hover
{text-decoration: underline;}
footer .social img
{padding-top: 15px;
}
.icon 
{width: 80px;
padding-top: 35px;}
.logo 
{width: 80px;}
#logo_link 
{padding-top: 5px;
justify-self: center;
align-self: center;
}
#hero{
display:grid;
grid-template-columns: repeat (5, 1fr);
margin-top: -100px;
}
#hero-box{
grid-column: 1 / span 5;
grid-row: 1 / span 1;
position: relative;
z-index: -1;
}
#hero-img 
{width: 100%;}
.rivers-card
{margin: 200px 0;
grid-column: 2/4;
grid-row: 2/3;
}
.rapids-card
{margin: 200px 0;
grid-column: 8/10;
grid-row: 2/3;
}
.camping-card
{margin: 200px 0;
grid-column: 5/7;
grid-row: 2/3;
}
.card-img
{border:solid #f5c242 10px;
width: 100%;
transition: transform .5s;
box-shadow: 5px 5px 10px gray;
}
.card-img:hover{
opacity: .6;
transform: scale(1.1);
}
.mountains{
width: 100%;
grid-column: 2/7;
grid-row: 5/8;
box-shadow: 5px 5px 10px gray;
}
.home-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
