@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:&display=swap');


div {max-width: 1600px}
#content {margin: 0 auto;}
nav a
{text-align: center;
color: white;
text-decoration: none;
padding: 35px;
}
nav a:hover
{color: #f5c242;
text-decoration: none;}
home-title
{color: white;
font-family: "Fira Sans", arial, sans-serif;
font-size: 2em;
padding: 35px;
margin-top: 10px;
}
h4
{color: white;}

#hero-msg h1, #hero-msg h4
{text-align: center;}
.button-box
{text-align: center;}
main section
{text-align: center;}
#background {height: 725px;}
main section img
{box-sizing: border-box;

}
body
{background-color: #0b797a;
font-family: Roboto, verdana, sans-serif;
font-size: 22px;
margin: 0;
padding: 0;
}
h2
{margin: 0;
}
header
{background-color: #0b797a;}
nav a:hover
{background-color: #f5c242;
color: white;
}
.book, .join
{background-color: #0b797a;
color: white;
font-size: 18px;
padding: 15px 30px;
margin: 50px;
border-radius: 5px;
}
.book:hover 
{background-color: #f5c242;
color: black;}
.join:hover
{background-color: #0b797a;
color: white;
}
#background
{background-color: #0b797a;}
.msg
{background-color: #f5c242;
font-size: line-height;
padding: 35px;
}
.msg h2
{color: #0b797a;}
.msg p
{color: #0b797a;
font-size: 0.8em;
padding-bottom: 15px;
}
footer
{background-color: #0b797a;
color: white;
padding: 15px 50px;
margin-top: 200px;
}
footer a:hover 
{color: white;}
footer p 
{font-size: 1.2em;}
footer p a:hover
{text-decoration: underline;}
footer .social img
{padding-top: 15px;
}
.icon 
{width: 80px;
padding-top: 35px;}
.logo 
{width: 80px;}
#logo_link 
{padding-top: 5px;
}
#hero-img 
{width: 100%;}
.rivers-card
{margin: 200px 0;
}
.rapids-card
{margin: 200px 0;
}
.camping-card
{margin: 200px 0;
}
.card-img
{border:solid #f5c242 10px;
}

