* {box-sizing: border-box;
}

img {
display: block;
margin: 20px auto;
width: 400px;
border: 10px solid black;
padding: 75px;



}
p {
background-color: greenyellow;
border: 10px solid green;
padding: 100px;
margin: 20px auto;
width: 400px;
}