@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kdam+Thmor+Pro&family=Noto+Sans:ital@0;1&family=Roboto:wght@300;400&display=swap');

div {max-width: 1600px}
#content {margin: 0 auto;}
header
{background-color: #065b61;
display: grid;
grid-template-columns: 150px auto;
position: relative;
font-family: Anta, "Kdam+Thmor+Pro";
}
#logo_link 
{padding-top: 5px;
justify-self: center;
align-self: center;
}
.logo 
{width: 80px;
background-color: #065b61;
}
nav {
width: 100%;
display: flex;
justify-content: space-around;
background-color: #065b61;
height: 100%;
}
nav a
{text-align: center;
color: white;
text-decoration: none;
padding: 35px;
flex: 1;
}
nav a:hover
{background-color: #065b61;
color: #f0ca4d;
text-decoration: none;}
#title{
color: white;
padding: 35px;
margin-top: -100px;
font-family: Anta, "Kdam+Thmor+Pro";
z-index: 2;
}
#title h1{
font-size: 90px;
text-align: center;
color: white;
position: relative;
}
#join_button
{display:grid;
grid-template-columns: 1fr;
justify-items: center;
margin-top: 10px;
}
.join 
{ background-color: #065b61;
color: white;
border: 1px solid #f0ca4d;
font-family: Anta, "Kdam+Thmor+Pro";
font-size: 64px;
padding: 40px 600px;
margin: 50px auto;
border-radius: 35px;
text-align: center;
}
#join_button .join:hover{
background-color: #065b61;
color: #f0ca4d;
}
body
{background-color: #36393e;
font-family:"Noto+Sans", Roboto;
font-size: 22px;
margin: 0;
padding: 0;
}
#first_section{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
grid-gap: 15px;
background-color: #065b61;
color: white;
border: 1px solid #f0ca4d;
}
#gamer1{
display: grid;
grid-column: 1;
grid-row: 1;
}
#paragraph{
display: grid;
grid-column: 2;
grid-row: 1;
font-size: 32px;
text-align: center;
}
#gamer2{
display: grid;
grid-column: 3;
grid-row: 1;

}


footer
{background-color: #065b61;
color: white;
padding: 15px 50px;
margin-top: 31px;
display: flex;
justify-content: space-around;
align-items: center;
}
footer a:hover 
{color: #f0ca4d;}
footer p 
{font-size: 1.2em;}
footer p a:hover
{text-decoration: underline;}
footer .social img
{padding-top: 15px;
}
